<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QuestionVMMapper">
	<!-- 查询所有班级信息 -->
	<!-- 
	QuestionVM    column  -property
		... ...	
	grade_id - grade  通过grade_id 查找grade
	user_id	- user  通过user_id 查找 user 
	 -->
	<select id="findAllQuestionVM" resultMap="QuestionVMResultMap">
		select * from poll_question
	</select>
	
	<resultMap type="com.briup.app02.vm.QuestionVM" id="QuestionVMResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="questiontype" property="questiontype"/>
		<collection column="id" property="options"
		select="com.briup.app02.dao.OptionMapper.findByQuestionId" >
		</collection>	
	</resultMap>
	
	
	<!-- 通过id号查询班级信息 -->
	<select id="findQuestionVMById" parameterType="long" resultMap="QuestionVMResult">
		select * from poll_clazz where id = #{id}
	</select>
	<resultMap type="com.briup.app02.vm.QuestionVM" id="QuestionVMResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<association column ="grade_id" property = "grade" 
		select="com.briup.app02.dao.GradeMapper.findById">
		</association>	
		<association column ="user_id" property = "user"
		 select="com.briup.app02.dao.UserMapper.findById">
		</association>
	</resultMap>

	<!-- 保存班级信息 -->
	<insert id="save" parameterType="com.briup.app02.bean.Clazz">
		insert into poll_clazz values
		(null,#{name},#{description},#{grade_id},#{user_id})
	</insert>
	<!-- 更新班级信息 -->
	<update id="update" parameterType="com.briup.app02.bean.Clazz">
		update poll_clazz set
		name =
		#{name},
		description = #{description},
		grade_id = #{grade_id},
		user_id = #{user_id}
		where id = #{id}
	</update>
	<!-- 删除班级信息 -->
	<delete id="delete" parameterType="long">
		delete from poll_clazz
		where
		id = #{id}
	</delete>
	</mapper>