<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.extend.QuestionnaireVMMapper">
	<!-- 查询所有班级信息 -->
	<!-- 
	QuestionVM    column  -property
		... ...	
	grade_id - grade  通过grade_id 查找grade
	user_id	- user  通过user_id 查找 user 
	 -->
	<select id="findAllQuestionnaireVM" resultMap="QuestionnaireVMResultMap">
		select * from poll_questionnaire
	</select>
	
	<resultMap type="com.briup.app02.vm.QuestionnaireVM" id="QuestionnaireVMResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="createdate" property="createdate"/>
		<collection column="id" property="qqs"
		select="com.briup.app02.dao.QqMapper.findByQuestionnaireId" >
		</collection>	
	</resultMap>
	
	
	<!-- 通过id号查询班级信息 -->
	<select id="findQuestionnaireVMById" parameterType="long" resultMap="QuestionnaireVMResult">
		select * from poll_questionnaire where id = #{id}
	</select>
	<resultMap type="com.briup.app02.vm.QuestionnaireVM" id="QuestionnaireVMResult">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="description" property="description"/>
		<result column="createdate" property="createdate"/>
		<collection column="id" property="qqs"
		select="com.briup.app02.dao.QqMapper.findByQuestionnaireId" >
		</collection>
	</resultMap>

	<!-- 保存班级信息 -->
	<insert id="save" parameterType="com.briup.app02.bean.Clazz">
		insert into poll_clazz values
		(null,#{name},#{description},#{grade_id},#{user_id})
	</insert>
	<!-- 更新班级信息 -->
	<update id="update" parameterType="com.briup.app02.bean.Clazz">
		update poll_clazz set
		name =
		#{name},
		description = #{description},
		grade_id = #{grade_id},
		user_id = #{user_id}
		where id = #{id}
	</update>
	<!-- 删除班级信息 -->
	<delete id="delete" parameterType="long">
		delete from poll_clazz
		where
		id = #{id}
	</delete>
	</mapper>